header {
    background-color: white;
    height: 150px;
    position: relative;
}

a {
    color: #000;
}

header .timkiem {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

header .timkiem .nhap {
    padding: 8px;
    border-radius: 9px;
    border: black;
    border: 1px solid;
}

header .timkiem .nhap:hover {
 
}

header .timkiem .nhap:focus {
    outline:black;
}

header .timkiem button {
    border: none;
    color: black;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

header .timkiem button:hover {
    
}
header {
    background-color: white;
    height: 150px;
    position: relative;
}

header .timkiem {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

header .timkiem .nhap {
    padding: 8px;
    border-radius: 9px;
    border: black;
    border: 1px solid;
}

header .timkiem .nhap:hover {
 
}

header .timkiem .nhap:focus {
    outline:black;
}

header .timkiem button {
    border: none;
    color: black;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

header .timkiem button:hover {
}

.menu >li {
    display: inline-block;
    padding: 0 10px;
    background-color: rgb(169, 136, 199);
    width: 150px;
    border: 1px solid;
}

/* KẾT THÚC */
.form {
    text-align: left;
    }
    #form1 input[type=text] {
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
}

#form1 #fcontent {
height: 100px;
}
#form1 input[type=submit] {
color: black;


}
header {
    height: 140px;
    /* background-color: white; */
}


/*  */

.body {
    height: 500px;
    display: flex;
}



article {
    background-color: white;
    height: 500px;
    width: 70%;
}

aside {
    background-color: white;
    height: 100%;
    width: 30%;
}


footer {
    height:200px;
    background-color: rgb(184, 184, 187);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    clear: both;
}
a:visited {
    color: black;
}

body .img {
    margin-left: 100px;
    margin-bottom: 20px;
}