header {
    background-color: white;
    height: 150px;
    position: relative;
}

header .timkiem {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

header .timkiem .nhap {
    padding: 8px;
    border-radius: 9px;
    border: black;
    border: 1px solid;
}

header .timkiem .nhap:hover {
   
}

header .timkiem .nhap:focus {
    outline:black;
}

header .timkiem button {
    border: none;
    color: black;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}