* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* CSS CHO INPUT HEADER */
header {
    background-color: white;
    height: 150px;
    position: relative;
}

header .timkiem {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

header .timkiem .nhap {
    padding: 8px;
    border-radius: 9px;
    border: black;
    border: 1px solid;
}

header .timkiem .nhap:hover {
 
}

header .timkiem .nhap:focus {
    outline:black;
}

header .timkiem button {
    border: none;
    color: black;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

header .timkiem button:hover {
    
    
}

/* KẾT THÚC */
.form {
    text-align: left;
    }
    #form1 input[type=text] {
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
}

#form1 #fcontent {
height: 100px;
}
#form1 input[type=submit] {
color: black;


}
header {
    height: 140px;
    /* background-color: white; */
}


/*  */

.body {
    height: 500px;
    display: flex;
}



article {
    background-color: white;
    height: 500px;
    width: 70%;
}

aside {
    background-color: white;
    height: 100%;
    width: 30%;
}


footer {
    height:100px;
    background-color: rgb(184, 184, 187);
    text-align: center;
}
.lienket a{text-decoration: none}

/* PHẦN MENU */

nav {
    background-color: rgb(169, 136, 199);
}

.menu {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu >li {
    display: inline-block;
    padding: 0 10px;
    background-color: rgb(169, 136, 199);
    width: 120px;
    border: 1px solid;
}

.menu>li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 60px;
    display: block;
    
}
.menu>li a:hover {
    color: #fff;
}
/* MENU phụ */
.submenu {
    position: absolute;
    list-style: none;
    width: 120px;
    display: none;
}

.submenu li {
    border-bottom: 1px solid #ddd;
    list-style: none;
}


.submenu li a {
    line-height: 45px;
    padding: 0 10px;
    background-color: black;
    color: white;
}

.submenu li a:hover {
    background-color: rgb(169, 136, 199);
    transition: .5s;
}

.menu li:hover .submenu {
    display: block;
}
/*  KÊT THÚC*/

.list-product .product-item{
    display:inline-block;
    width:22%;
margin-left: 20px;
}
.list-product .product-item img{
    width:100%;
    height:350px;
    margin:40px 50px;
    padding-left:20px;
    margin-left: 100px;
}
.list-product .product-item h4{
    text-align: center;
    padding-left: 190px;
    margin-top: -30px;
}
.list-product .product-item p{
    text-align:center;
    color: gray;
    font-weight: bold;
    padding-left:170px;
}
.lienket:hover{ 
    
}