* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

header {
    background-color: white;
    height: 150px;
    position: relative;
}

/* PHẦN MENU VỨA DÁN TỪ FILE ASM2.CSS */

nav {
    background-color: rgb(169, 136, 199);
}

.menu {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu >li {
    display: inline-block;
    padding: 0 10px;
    background-color: rgb(169, 136, 199);
    width: 120px;
    border: 1px solid;
}

.menu>li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 60px;
    display: block;
    
}
.menu>li a:hover {
    color: #fff;
}
/* MENU phụ */
.submenu {
    position: absolute;
    list-style: none;
    width: 120px;
    display: none;
}

.submenu li {
    border-bottom: 1px solid #ddd;
    list-style: none;
}


.submenu li a {
    line-height: 45px;
    padding: 0 10px;
    background-color: black;
    color: white;
}

.submenu li a:hover {
    background-color: rgb(169, 136, 199);
    transition: .5s;
}

.menu li:hover .submenu {
    display: block;
}
/*  KÊT THÚC PHẦN DÁN*/

article {
    /* height: 800px; */
    /* background-color: black; */
    width: 70%;
    float: left;
}

aside {
    /* height: 800px; */
    /* background-color: burlywood; */
    float: right;
    width: 30%;
    margin-bottom: 40px;
}

footer {
    clear: both;
    background-color: rgb(184, 184, 187);
    height: 200px;
    text-align: center;
}
/* CSS CHO INPUT HEADER */
header .timkiem {
    position: absolute;
    bottom: 20px;
    right: 20px;
}



header .timkiem .nhap {
    padding: 8px;
    border-radius: 9px;
    border:black;
    border: 1px solid;
}

header .timkiem .nhap:hover {
   
}

header .timkiem .nhap:focus {
    outline: black;
}

header .timkiem button {
    border: none;
    color: black;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

header .timkiem button:hover {
    /* Chuyển nên cái nút */
    /* thời gian jj đó */
}

.menu >li {
    display: inline-block;
    padding: 0 10px;
    background-color: rgb(169, 136, 199);
    width: 150px;
    border: 1px solid;
}

/* CSS cho article */

article .khung {
    /* float: left; */
    /* width: 30%; */
    padding-left: 10px;
}

.khung .product-item {
    float: left;
    width: 30%;
    box-shadow: 0 0 1px rgb(136, 122, 122);
    text-align: center;
    height: 350px;
    margin: 5px;
    border-radius: 12px;
}

.khung .product-item:hover {
    background-color: whitesmoke;
    color: gray;
    transition: .5s;
    cursor: pointer;
}

.product-item .anh {
}

.product-item .anh img {
    width: 50%;
}

.product-item .tieude {
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

.product-item .tieude:hover {
    color: grey
}

.product-item .gia {
    display: flex;
    justify-content: space-between;
    margin: 4px 15px;
}

/* .product-item .danhgia .left {
    
}

.product-item .danhgia .right {
    
} */

/* CSS CHO PHẦN ASIDE BÊN PHẢI */

aside .tintuc {

}

aside .tintuc .khungcon {
    display: flex;
    border: 1px solid black;
    border-radius: 12px;
    margin-right: 15px;
    margin-top: 15px;
    overflow: hidden;
    color: black;
    height:50%;
}

aside .tintuc .khungcon .anh {
    
}

aside .tintuc .khungcon .anh img {
    height: 100%;
    width: 200px;
}

aside .tintuc .khungcon .content {
    margin-left: 10px;
    width: 150px;
    position: relative;
}

aside .tintuc .khungcon .content .title {
    font-size: 20px;
    width: 150px;
    margin-top: 5px;
}

aside .tintuc .khungcon .content .content-below {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 10px;
    width: 200px;
    position:absolute;
    bottom: 0;
    margin-bottom: 5px;
}

footer {
    height:200px;
    background-color: rgb(184, 184, 187);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    clear: both;
}
a {
    color: #000;
}
a:visited {
    color: black;
}



